@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
   background:  linear-gradient(45deg, #010758, #490d61);
}

.heading{
  font-weight: 10000;
  text-align: center;
  margin-top: 40px;
}

.button {
  width: 66px;
  padding: 18px;
  margin: 0 3px;
  border-radius: 40%;
  cursor: pointer;
}

.button:hover{
  box-shadow: 5px 5px 10px #FF9E00;
}

.row {
  margin: 8px 0;
}
.row input {
  width: 275px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;

}
